chaincode/testdata/niop-samples/4.3-TransactionData.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TransactionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SubmissionType">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="STRAN"></xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:dateTime" name="SubmissionDateTime" />
              <xs:element type="xs:string" name="SSIOPHubID" />
              <xs:element type="xs:string" name="AwayAgencyID" />
              <xs:element type="xs:string" name="HomeAgencyID" />
              <xs:element type="xs:long" name="TxnDataSeqNo" />
              <xs:element type="xs:long" name="RecordCount" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TransactionDetail">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TransactionRecord" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RecordType">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="TB01" />
                          <xs:enumeration value="TC01"></xs:enumeration>
                          <xs:enumeration value="TC02" />
                          <xs:enumeration value="VB01" />
                          <xs:enumeration value="VC01" />
                          <xs:enumeration value="VC02 "></xs:enumeration>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:long" name="TxnReferenceID" />
                    <xs:element type="xs:dateTime" name="ExitDateTime"></xs:element>
                    <xs:element type="xs:string" name="FacilityID"></xs:element>
                    <xs:element type="xs:string" name="FacilityDesc" />
                    <xs:element type="xs:string" name="ExitPlaza" />
                    <xs:element type="xs:string" name="ExitPlazaDesc" />
                    <xs:element type="xs:string" name="ExitLane"></xs:element>
                    <xs:element name="EntryData" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:dateTime" name="EntryDateTime" />
                          <xs:element type="xs:string" name="EntryPlaza" />
                          <xs:element type="xs:string" name="EntryPlazaDesc" />
                          <xs:element type="xs:string" name="EntryLane"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TagInfo" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="TagAgencyID" />
                          <xs:element type="xs:string" name="TagSerialNo" />
                          <xs:element name="TagStatus">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="V" />
                                <xs:enumeration value="I"></xs:enumeration>
                                <xs:enumeration value="Z" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OccupancyInd" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="1" />
                          <xs:enumeration value="2"></xs:enumeration>
                          <xs:enumeration value="3"></xs:enumeration>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:string" name="VehicleClass" minOccurs="0" />
                    <xs:element type="xs:long" name="TollAmount" />
                    <xs:element type="xs:string" name="DiscountPlanType" minOccurs="0" />
                    <xs:element name="PlateInfo" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PlateCountry">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="US" />
                                <xs:enumeration value="CA" />
                                <xs:enumeration value="MX" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element type="xs:string" name="PlateState" />
                          <xs:element type="xs:string" name="PlateNumber" />
                          <xs:element type="xs:string" name="PlateType" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="VehicleClassAdj" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="A" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SystemMatchInd" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="0" />
                          <xs:enumeration value="1"></xs:enumeration>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:string" name="Spare1" minOccurs="0" />
                    <xs:element type="xs:string" name="Spare2" minOccurs="0" />
                    <xs:element type="xs:string" name="Spare3" minOccurs="0" />
                    <xs:element type="xs:string" name="Spare4" minOccurs="0" />
                    <xs:element type="xs:string" name="Spare5" minOccurs="0" />					
					<xs:element type="xs:string" name="ExitDateTimeTZ" />
					<xs:element type="xs:string" name="EntryDateTimeTZ" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>