chaincode/testdata/niop-samples/6.3-ReconciliationData.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReconciliationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ReconciliationHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SubmissionType">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="SRECON"></xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:dateTime" name="SubmissionDateTime" />
              <xs:element type="xs:string" name="SSIOPHubID" />
              <xs:element type="xs:string" name="AwayAgencyID" />
              <xs:element type="xs:string" name="HomeAgencyID" />
              <xs:element type="xs:long" name="TxnDataSeqNo" />
              <xs:element type="xs:long" name="RecordCount" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ReconciliationDetail">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ReconciliationRecord" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="TxnReferenceID" />
                    <xs:element type="xs:short" name="AdjustmentCount" />
                    <xs:element type="xs:short" name="ResubmitCount" />
                    <xs:element type="xs:string" name="ReconHomeAgencyID" />
                    <xs:element type="xs:long" name="HomeAgencyTxnRefID" minOccurs="0" />
                    <xs:element name="PostingDisposition">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="P" />
                          <xs:enumeration value="D" />
                          <xs:enumeration value="I" />
                          <xs:enumeration value="N" />
                          <xs:enumeration value="S" />
                          <xs:enumeration value="T" />
                          <xs:enumeration value="C" />
                          <xs:enumeration value="O" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:string" name="DiscountPlanType" minOccurs="0" />
                    <xs:element type="xs:long" name="PostedAmount" />
                    <xs:element type="xs:dateTime" name="PostedDateTime"></xs:element>
                    <xs:element type="xs:long" name="TransFlatFee"></xs:element>
                    <xs:element type="xs:long" name="TransPercentFee"></xs:element>
                    <xs:element type="xs:string" name="Spare1" minOccurs="0" />
                    <xs:element type="xs:string" name="Spare2" minOccurs="0" />
                    <xs:element type="xs:string" name="Spare3" minOccurs="0" />
                    <xs:element type="xs:string" name="Spare4" minOccurs="0" />
                    <xs:element type="xs:string" name="Spare5" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>